/* styles.css */
h1 {
    margin-bottom: 30px;
    font-size: 36px;
    color: #333;
}

.centered {
    text-align: center;
}

#tempo, #startStopButton {
    margin-right: 10px;
}

.checkbox-label {
    display: block;
}
/* タイトルのスタイル */
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}